<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sportseventv2">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- permission to mapbox location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sportsevent_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sportsevent_app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SportsEventV2">
        <activity android:name=".TAC"></activity>
        <activity
            android:name=".TilmeldtEvent"
            android:theme="@style/Theme.ActionBar"
            android:label="@string/head_tildmeldte"/>
        <activity
            android:name=".ForgetPassword" />
        <activity
            android:name=".model.MapboxMain"
            android:theme="@style/Theme.ActionBar"
            android:label="@string/head_loeb"/>
        <activity
            android:name=".TilmeldteLoeb"
            android:theme="@style/Theme.ActionBar"
            android:label="@string/head_tildmeldte"/>
        <activity
            android:name=".Event"
            android:theme="@style/Theme.ActionBar"
            android:label="@string/head_event"/>
        <activity
            android:name=".RedigerProfil"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".TopKontakt"
            android:label="@string/head_kontakt"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".TopHelp"
            android:label="@string/head_hjaelp"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".Profil"
            android:label="@string/head_profil"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".Kalender"
            android:label="@string/head_kalender"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".SignUp"
            android:label="@string/head_registrer" />
        <activity
            android:name=".Login"
            android:label="@string/head_login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>